# fly.toml app configuration file generated for stronghold-api on 2026-01-30T22:20:05-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'stronghold-api'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  path = "/health/ready"
  timeout = "10s"
  restart_limit = 3

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
