app = 'stronghold-facilitator'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8402
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  path = "/health"
  timeout = "10s"
  restart_limit = 3

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
